.app {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(240, 242, 245);
}

.app > *,
.app header .container {
    width: 80%;
    max-width: 1000px;
}

.app ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.app a {
    text-decoration: none;
    color: #333;
}

.app header {
    width: 100%;
    max-width: unset;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 100px;
    background-color: rgb(255, 102, 0);
    color: #fff;
}

header .btns {
    text-align: right;
}

.ant-pagination {
    text-align: center;
}

main {
    position: relative;
    margin-top: -60px;
    min-height: calc(100vh - 350px);
}

main .ant-spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

ul.news-list {
    margin-bottom: 20px;
}

.news-list li {
    margin-bottom: 10px;
}

.news-list h2 {
    margin: 0;
    font-weight: normal;
    font-size: 20px;
    color: #0958d9;
}

.news-list .info span {
    color: #999;
}

.news-list p {
    font-size: 16px;
    margin: 0;
}

footer {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
